<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817287922277-2b5079qgctdfgpbqi6vuds5120u0va5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817287922277-2b5079qgctdfgpbqi6vuds5120u0va5n</string>
	<key>API_KEY</key>
	<string>AIzaSyAxcU40uLhLooNNJIdxQfssZjNCfefIXwg</string>
	<key>GCM_SENDER_ID</key>
	<string>817287922277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vottle</string>
	<key>PROJECT_ID</key>
	<string>wirvsvirus-931e0</string>
	<key>STORAGE_BUCKET</key>
	<string>wirvsvirus-931e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:817287922277:ios:fbf6ea526863ce2fb77c8c</string>
	<key>DATABASE_URL</key>
	<string>https://wirvsvirus-931e0.firebaseio.com</string>
</dict>
</plist>
